::selection {
  background: indigo;
  color: pink;
}

:root {
  background-color: #edd;
  background-image: conic-gradient(gold, lemonchiffon, gold);
  color: indigo;
}

:any-link {
  color: blueviolet;
}

:any-link:hover {
  color: darkorchid;
}
