::selection {
  background: gold;
  color: indigo;
}

:root {
  background-color: indigo;
  background-image: conic-gradient(darkviolet, darkmagenta, darkviolet);
  color: gainsboro;
}

:any-link {
  color: peachpuff;
}

:any-link:hover {
  color: lemonchiffon;
}
